.account {
width: 74%;
background-color: whitesmoke;
border-style: solid;
border-color: rgb(128, 33, 33); 
padding-top: 10px;
padding-bottom: 10px;
margin-top: 5px;
margin-left: auto;
margin-right: 38px;
border-radius: 5px 5px 30px 5px;
margin-bottom: 10px;
}
.user {
font-size: 30px;
text-align: center;
margin-top: 10px;
font-family: 'Baloo Chettan', cursive;
color: rgb(128, 33, 33);
}
.suggestions {
font-size: 20px;
width: 90%;
margin-left: auto;
margin-right: auto;
font-family: 'Oswald', sans-serif;
}
.stuff {
font-size: 20px;
width: 90%;
margin-left: auto;
margin-right: auto;
font-family: 'Oswald', sans-serif;
}
.row {
background-color: rgb(128, 33, 33);
width: 20%;
margin-left: 38px;
padding-top: 5px;
padding-bottom: 20px;
padding-left: 5px;
padding-right: 5px;
float: left;
margin-top: 5px;
text-align: center;
border-radius: 5px 5px 5px 30px;
}
.row-header{
    color: white;
    font-family: 'Baloo Chettan', cursive;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;

}
.calcium {
background-color: rgb(207, 183, 151);
margin-top: 5px;
margin-left: auto;
margin-right: auto;
border-style: solid;
margin-right: auto;
border-style: solid;
border-color: white;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.carbs {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.fats {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.iron {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.fiber {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.potassium {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.sodium {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.calories {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.protien {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.vitE {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.vitA {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.vitB12 {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.vitC {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
.vitD {
background-color: rgb(207, 183, 151);
border-style: solid;
border-color: white;
margin-top: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
font-family: 'Work Sans', sans-serif;
}
/* font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Nanum Gothic', sans-serif;

*/

