.navbar {
padding-top: 10px;
padding-bottom: 10px;
background-color: black;
}

.title {
margin-left: 10px;
color: white;
width: 400px;
font-size: 40px;
}

.home {
margin-left: 70%;
color: grey;
font-size: 30px;
width: 200px;
height: 50px;
}
.accountbutton {
margin-left: 10px;
color: grey;
font-size: 30px;
width: 200px;
height: 50px;
}

.login {
margin-left: 10px;
color: grey;
font-size: 30px;
width: 200px;
height: 50px;
}