.navbar {
background-color: black;
border-radius: 30px 30px 5px 5px;
width: 95%;
margin-left: auto;
margin-right: auto;
padding-bottom: 5px;
color: white;
}


.title {
margin-left: 30px;
margin-bottom: 0;
color: white;
width: 50%;
font-size: 50px;
font-family: 'Baloo Chettan', cursive;
}

.home {
margin-left: 75%;
color: grey;
width: 20%;
font-size: 25px;
font-family: 'Oswald', sans-serif;
}

.accountbutton {
margin-left: 10px;
width: 20%;
color: grey;
font-size: 25px;
width: 200px;
height: 50px;
font-family: 'Oswald', sans-serif;
}

.login {
margin-left: 10px;
width: 20%;
color: grey;
font-size: 25px;
width: 200px;
height: 50px;
font-family: 'Oswald', sans-serif;
}

html { 
    background: url("../../Assets/Images/Kitchen2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }